# Git & IDEs
.git/
.github/
.vscode/
.idea/

# Python caches & virtualenvs
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.pytest_cache/
*.db
*.sqlite3

# Node & Frontend build caches
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.DS_Store
*.log
